
/* General Styles *
===================================================== */
:root {
    --primary-color: #34cf63;
    --secondary-color: #16265c;
    --accent-color: #3792ce;
    --text-color: #0d0d16;
    --third-color: #34af49;
    --background-color: #f4f4f4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
section {
height: 100vh;
}
h2, h3 {
    color: #333;
}
p {
    line-height: 1.6;
    color: #555;
}
.about,.contact {
    background-color: rgb(255, 255, 255);
    background-image: radial-gradient(circle at 5% 1%, rgb(71, 184, 99) 7%, transparent 84%), radial-gradient(circle at 7% 81%, rgb(57, 131, 136) 16%, transparent 53%), radial-gradient(circle at 11% 29%, rgb(118, 233, 95) 8%, transparent 74%), radial-gradient(circle at 39% 52%, rgb(9, 235, 103) 6%, transparent 68%), radial-gradient(circle at 90% 50%, rgb(54, 164, 168) 2%, transparent 85%);
    background-blend-mode: normal, normal, normal, normal, normal;
}
/* Header Styles *
===================================================== */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

/* Navigation Styles *
===================================================== */
nav {
    background-color: var(--secondary-color);
    color: white;
    height: 8vh;
}
nav ul {
    list-style: none;
    padding: 0;
    gap: 200px;
    display: inline;
    position: relative;
    top: 20px;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li {
    display: inline;
    margin-right: 100px;
}
nav .logo {
    position: absolute;
    left: 20px;
    top: 10px;
}
nav .logo img {
    margin-top: -5px;
    width: 40px;
    height: 40px;
}

@media (max-width: 950px) {
nav ul li {
    margin-right: 10px;
}
nav ul li a {
    font-size: 0.8em;
}
nav .logo {
    position: absolute;
    left: 15px;
    top: 15px;
}
}


/* Home *
===================================================== */
.home {
    background-image: url('assets/Imagenes/Img-home.jpg');
    background-size: cover;
    padding: 20px;
    text-align: center;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: #0c0c0c 10px 10px 15px;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* dark filter */
    z-index: 1;
}

.home > * {
    position: relative;
    z-index: 2;
}

.btn-home {
    border: 2px solid #ffffff;
    border-radius: 12px;
    padding: 20px 25px;
    color: #ffffff;
    position: absolute;
    left:200px;
    bottom: 90px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.btn-home:hover {
    border: 2px solid #08051d;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 25px;
    color: #08051d;
    position: absolute;
    left:200px;
    bottom: 90px;
    transform: scale(1.1);
}
.btn-home i:hover{
    color: #ffffff;
}


@media (max-width: 950px) {
    .home {
        background-image: url('assets/Imagenes/Img-home.jpg');
        background-size: cover;
        height: 37vh;
    }
    h1 {
        margin-top: 50px;
        font-size: 2rem;
    }
    .btn-home {
        border-radius: 12px;
        padding: 10px 15px;
        color: #ffffff;
        position: absolute;
        left: 30px;
        bottom: 30px;
        font-size: 0.7em;
}
}
/* Sections *
===================================================== */
.sections {
    height: 5vh;
    background-color:  var(--secondary-color);
}
.sections ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sections ul li {

    display: inline;
    margin: 0 20px;
    position: relative;
}
.sections ul li a{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    text-decoration: none;
    color: white;
}
.sections ul .division{
    width: 2px;
    height: 5vh;
    background-color: white;
    z-index: 3;
    color: white;
    display: flex;
    border: 1px solid white;
}

@media (max-width: 950px) {
.sections ul li {
    margin: 0 25px;
}
.sections ul li a{
    margin: 0;
    font-size: 0.8em;
}
}

/* About *
===================================================== */
.about h2 {
    font-size: 4em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: #264730 6px 6px 15px;}   
.about {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: auto;
    /* height: auto; */
}
.about .container img{
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 15px rgba(14, 100, 33, 0.9));
}
.about .container {
    max-width: 1000px;
    margin: 0 auto;
}
.about .container h3 {
    font-size: 2.6em;
    line-height: 1.6;
    color: #193625;
    text-shadow: #51e67e 6px 6px 15px;
    
}
.about .container p {
    font-size: 1.6em;
    line-height: 1.6;
    color: #1d1c1c;
}
@media (max-width: 950px) {
    .about h2 {
        font-size: 2.2em;
    }
    .about h3 {
        font-size: 1.8em;
    }
    .about .container p {
        font-size: 1.2em;
    }
    .about .container img {
        width: 150px;
        height: auto;
    }
}
/* Team *
===================================================== */
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: hsla(113.64705882352966, 0%, 0%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1746 1746' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 0% 99%, hsla(113.6470588235295, 0%, 0%, 1) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsla(219.70588235294125, 100%, 50%, 1) 0%, transparent 81%), radial-gradient(circle at 89% 8%, hsla(114.00399600194103, 0%, 0%, 1) 0%, transparent 150%), radial-gradient(circle at 89% 8%, hsla(206.02877786555945, 52%, 17%, 1) 0%, transparent 150%), radial-gradient(circle at 93% 95%, hsla(289.9038461538462, 0%, 0%, 1) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(0, 0%, 0%, 1) 0%, transparent 150%), radial-gradient(circle at 89% 8%, hsla(54.999999999999936, 0%, 0%, 1) 0%, transparent 150%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal, normal;
}
.team .container {
    display: flex;
    flex-direction: row;
}
.team .container .team-member {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    width: 300px;
    box-shadow: 6px 6px 15px rgba(39, 39, 39, 0.9);
}
.team .container .team-member h3 {
    font-size: 1.5em;
    color: var(--third-color);
    text-shadow: #c0c2c1 0 0 5px;
}
.team .container .team-member a {
    font-size: 1.2em;
    color: #023a03;
    background-color: var(--third-color);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #023a03;
    box-shadow: #363636 3px 3px 4px;
    padding: 7px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.team .container .team-member a:hover {
    color: #023a03;
    background-color: var(--third-color);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #023a03;
    box-shadow: #363636 3px 3px 4px;
    transform: scale(1.1);
}
.team .container .team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.team h2 {
    font-size: 4em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: #16304b 6px 6px 15px;
}

@media (max-width: 950px) {
    .team {
        padding: 0;
        height: 80vh;
    }
    .team .container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .team .container .team-member {
        margin: 5px;
        width: 29%;
        height: 230px;

    }
    .team h2 {
        font-size: 2.5em;
        text-align: center;
    }
    .team-member .nombre {
        font-size: 10px;
        color: #000;
    }
    .team-member p {
        font-size: 10px;
    }
    .team .container .team-member a {
    width: 100%;
    font-weight: bold;
    font-size: 8px;
    margin: 0;
    margin-top: 10px;
    box-shadow: #363636 3px 3px 4px;
    padding: 4px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
    .team .container .team-member h3 {
    font-size: 15px;

}
}

/* Contact *
===================================================== */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact form {
    display: flex;
    border-radius: 25px; 
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    min-width: 600px;
    max-width: 800px;
    padding: 20px;
    height: 800px;
    box-sizing: border-box;
    background: rgba(21, 31, 16, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    justify-content: center;
    align-items: center;
}
.contact form h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: #061d0d 6px 6px 15px;
}



.contact form input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    max-width: 400px;
    background: transparent;
    background: rgba(203, 204, 203, 0);
    z-index: 2;
    color: black;
    margin-bottom: 3rem;
}

.contact form label {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #ffffff;
}
.contact form ::placeholder {
    color: #c5c1c1;
    opacity: 0.7;
}
.contact .enviar {
    background-color: #ffffff;
    width: 100px;
    font-weight: bold;
    color: #4CAF50;
    font-size: 15px;  
    transition: all 0.3s ease;
}
.contact .enviar:hover {
    background-color: #7be792;
    border: 3px solid #ffffff;
    width: 100px;
    font-weight: bold;
    color: #ffffff;
    font-size: 15px;    
    transform: scale(1.1);
    cursor: pointer;
}
.contact form .privacy-policy {
    font-size: 0.8em;
    color: #ffffff;
    margin-top: 10px;

}
.contact form .privacy-policy a {
    color: #2e1ae6;
    text-decoration: none;
    transition: color 0.3s ease;
}


@media (max-width: 950px) {
    .contact {
        width: 100%;
    }
    .contact form {
        width: 90%;
        min-width: 200px;
        max-width: 600px;
        height: auto;
    }
    .contact form h2 {
        font-size: 2em;
    }
    .contact form input, textarea {
        padding: 5px;
        margin-bottom: 5px;
        border: 2px solid #ffffff;
        border-radius: 5px;
        width: 80%;
        margin-bottom: 1.6rem;
    }
    .contact form label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #ffffff;
    width: 80%;
}
    .contact form .privacy-policy {
        font-size: 0.5em;
        color: #ffffff;
        margin-top: 10px;
}

}



/* Footer *
===================================================== */

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.socials i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    color: #ffffff;
}
.footer-contact {
    flex: 1 1 300px;
    text-align: center;

}
.footer-contact h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
}
.footer-contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer-contact ul li {
    margin-bottom: 8px;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-contact ul li i {
    color: var(--primary-color);
    min-width: 20px;
    font-size: 1.2em;
}
.footer-contact ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-contact ul li a:hover {
    color: var(--accent-color);
}
footer .derechos {
    margin-top: 20px;
    font-size: 0.9em;
    color: #ffffff;
}
@media (max-width: 950px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-contact {
        text-align: center;
        margin-top: 20px;
    }
    .footer-contact ul li {
        justify-content: center;
    }
}

/*  Animations *
===================================================== */


@keyframes hero-gradient-animation {
    0% {
        --s-start-0: 0%;
        --s-end-0: 32.8918673852409%;
        --y-0: 92%;
        --c-0: hsla(187.94117647058826, 34%, 43%, 1);
        --x-0: 93%;
        --s-start-1: 4.440497335701599%;
        --s-end-1: 34.574459204665295%;
        --y-1: 1%;
        --c-1: hsla(188, 34%, 42%, 1);
        --x-1: 1%;
    }

    100% {
        --s-start-0: 7;
        --s-end-0: 74;
        --y-0: 43%;
        --c-0: hsla(188, 34%, 42%, 1);
        --x-0: 62%;
        --s-start-1: 7;
        --s-end-1: 74;
        --y-1: 9%;
        --c-1: hsla(188, 34%, 42%, 1);
        --x-1: 23%;
    }
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 32.8918673852409%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 92%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(187.94117647058826, 34%, 43%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4.440497335701599%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 34.574459204665295%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(188, 34%, 42%, 1)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}


@keyframes hero-gradient-animation{0%{--s-start-0:0%; --s-end-0:32.8918673852409%; --y-0:92%; --c-0:hsla(187.94117647058826,34%,43%,1); --x-0:93%; --s-start-1:4.440497335701599%; --s-end-1:34.574459204665295%; --y-1:1%; --c-1:hsla(188,34%,42%,1); --x-1:1%;}100%{--s-start-0:7; --s-end-0:74; --y-0:43%; --c-0:hsla(188,34%,42%,1); --x-0:62%; --s-start-1:7; --s-end-1:74; --y-1:9%; --c-1:hsla(188,34%,42%,1); --x-1:23%;}}@property --s-start-0{syntax:'<percentage>';inherits:false;initial-value:0%}@property --s-end-0{syntax:'<percentage>';inherits:false;initial-value:32.8918673852409%}@property --y-0{syntax:'<percentage>';inherits:false;initial-value:92%}@property --c-0{syntax:'<color>';inherits:false;initial-value:hsla(187.94117647058826,34%,43%,1)}@property --x-0{syntax:'<percentage>';inherits:false;initial-value:93%}@property --s-start-1{syntax:'<percentage>';inherits:false;initial-value:4.440497335701599%}@property --s-end-1{syntax:'<percentage>';inherits:false;initial-value:34.574459204665295%}@property --y-1{syntax:'<percentage>';inherits:false;initial-value:1%}@property --c-1{syntax:'<color>';inherits:false;initial-value:hsla(188,34%,42%,1)}@property --x-1{syntax:'<percentage>';inherits:false;initial-value:1%}.your_css_selector_here{--y-0:92%;--c-0:hsla(187.94117647058826,34%,43%,1);--x-0:93%;--y-1:1%;--c-1:hsla(188,34%,42%,1);--x-1:1%;;background-color:hsla(137.79661016949157,32%,56%,1);background-image:radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),transparent var(--s-end-0)),radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),transparent var(--s-end-1));animation:hero-gradient-animation 5s linear infinite alternate;background-blend-mode:normal,normal;}